.cb_container {
    width: 80%;
    margin: 0 auto;
}

/* What you will learn */
.cb_card {

    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 18px 0 rgba(31, 38, 135, 0.133);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(3, 1, 1, 0.082);


}

.wul_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    position: relative;
}

.cb_wul_section h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
}

.cb_wul {
    width: 60%;
    margin: 40px 0;
}

.cb_wul ul {
    margin: 0px 50px;
}

.cb_wul ul li {
    padding: 6px 0;
}

.cb_course_features {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.cb_course_features div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cb_course_features div h4 {
    font-size: 1.2rem;
    color: #111120;
    margin: 10px 0;
}

.cb_course_features div div {
    display: flex;
    flex-direction: row;
    color: gray;
}


.cb_wul_img {
    width: 500px;
    height: 400px;
    position: absolute;
    bottom: 100px;
    right: 25%;
    z-index: -1;
    rotate: -15deg;
}

.cb_wul_img img {
    width: 100%;
    height: 100%;
}

/* Course content */
.cc_section {
    width: 80%;
    margin: 50px 0;
}
.tr_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cc_section h3 {
    font-size: 1.8rem;
    /* text-align: center; */
    margin: 0 0 50px 0;
}

.level_Section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.level_Section button {
    width: auto;
    height: 40px;
    padding: 8px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #0f1923;
    border: none;
    border-radius: 3px;
}

.level_Section button:hover {
    color: #04233f;
    background-color: #fff;
    border: 2px solid #04233f;
    transition: 0.4s ease-in;
}

.level_Section .active_btn {
    color: #04233f;
    background-color: #fff;
    border: 2px solid #04233f;
    transition: 0.4s ease-in;
}
.expand_collapse_btn button{
    /* width: 150px; */
    font-size: 1.1rem;
    font-weight: bold;
    color: #04233f;
    background: none;
    border: none;
}

.acc_container {
    width: 100%;
}
.fee_container{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom,  #05040c, transparent);
    background-color:#1F1E28;

}

/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .cb_container {
        width: 90%;
    }

    .wul_container {
        flex-direction: column;
        gap: 25px;
    }

    .cb_wul_section h3 {
        font-size: 1.4rem;
    }

    .cb_wul {
        width: 100%;
        margin: 20px 0;
    }

    .cb_wul ul {
        margin: 0px 25px;
    }

    .cb_wul ul li {
        padding: 3px 0;
    }

    .cb_course_features {
        width: 100%;
        gap: 13px;
    }

    /* What you will learn */
    .cb_card {
        width: 90%;
        padding: 10px;
    }
    .tr_header{
        flex-direction: column;
        align-items: start;
        gap: 15px;
    }
   
    .level_Section {
        justify-content: center;
        gap: 10px;
    }

    .level_Section button {
        padding: 8px 15px;

    }

    .acc_container {
        width: inherit;
    }

}