.register__from__container {
  margin: 50px 0;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__from__container form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.register__from__container form label {

  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

.register__from__container form input {
  width: 280px;
  height: 25px;

  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Style for when the input is focused */
.register__from__container form input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style for placeholder text */
.register__from__container form input::placeholder {
  color: #aaa;
}

/* Style for disabled input */
.register__from__container form input:disabled {
  background-color: #f2f2f2;
  color: #888;
}


.phoneNumber {
  font-size: 1rem;
}

.phoneNumber:outline {
  border: none;
}

.form_group {
  display: flex;
  gap: 20px;
}


.submit_btn {
  width: 82%;
}

/* Basic button styles */
.submit_btn button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  background: #242539;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Style for button on hover */
.submit_btn button:hover {
  background-color: #0056b3;
}

/* Style for button on click */
.submit_btn button:active {
  background-color: #003d80;
}

/* Style for disabled button */
.submit_btn button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
  .register__from__container {
    padding: 30px 0;
  }

  .register__from__container form {
    width: 100%;

  }

  .form_group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .submit_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit_btn button {
    width: 280px;
    font-size: 16px;
  }
}