.register__from__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 20px;
  background-color: linear-gradient(to bottom, #e6f7ff, #b3e0ff);
  ;
}

.heading {
  text-align: center;
}

.heading p {
  color: rgb(47, 47, 47);
  font-size: 16px;
}
.np_btn_group{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.next_btn, .prev_btn {
  background-color: #242539;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  float: right;
  cursor: pointer;
}
.prev_btn{
  background-color: #fff;
  color: #242539;
  border: 2px solid #242539;
}

.right_arrow {
  color: #fff;
}

.step_container {
  /* margin: -20px; */
  margin: 10px 0 20px 0;
  padding: 0;
  display: flex;
}

.step {
  width: 33.333333333333333%;
  height: 10px;
  background-color: #242539;
}

.register__from__container form {
  /* margin: 50px 0;
  padding: 50px 0; */
  width: 650px;
  
  /* align-items: center; */
  gap: 20px;
  padding: 20px;
  /* background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px; */


  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.forms_container{
  /* padding: 30px 0; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.register__from__container form label {

  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #333333e6;

  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
  /* Adjust the font size as needed */
  color: #333;
  /* Text color */
}

.register__from__container form input {
  width: 280px;
  height: 25px;

  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;

  padding: 10px;
  font-size: 14px;
  /* Adjust the font size as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

/* Style for when the input is focused */
.register__from__container form input:focus {
  outline: none;
  border-color: #007bff;
  /* Adjust the focus border color as needed */
  box-shadow: 0 0 5px #007bff;
  /* Add a subtle box-shadow on focus */
}

/* Style for placeholder text */
.register__from__container form input::placeholder {
  color: #aaa;
}

/* Style for disabled input */
.register__from__container form input:disabled {
  background-color: #f2f2f2;
  color: #888;
}



.phoneInput {
  width: 305px;
  display: block;
}


.phoneNumber {
  font-size: 1rem;
}

.phoneNumber:outline {
  border: none;
}

.form_group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}


.submit_btn {
  width: 82%;
}

/* Basic button styles */
.submit_btn button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  width: 100%;
  background: #242539;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Style for button on hover */
.submit_btn button:hover {
  background-color: #0056b3;
}

/* Style for button on click */
.submit_btn button:active {
  background-color: #003d80;
}

/* Style for disabled button */
.submit_btn button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
  .register__from__container {
    padding: 30px 0;
  }

  .register__from__container form {
    width: 100%;

  }

  .form_group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .submit_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit_btn button {
    width: 280px;
    font-size: 16px;
  }
}