/* Accordion */
.accordion_container {
    width: 100%;
    /* margin: 40px 0; */
    /* padding-bottom: 20px; */
    /* padding: 10px; */
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.078); */
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */

    position: relative;
    overflow: hidden;

}

.acc_head::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0f192316;
    transition: left 0.7s ease;

}

.acc_icon {
    font-size: 1rem;
    font-weight: bold;
    color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.acc_head {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    cursor: pointer;
    padding-bottom: 20px;
    padding: 10px;
    background-color: #f7f9fac0;
    border: 1px solid #04233f27;
}

.acc_head h4 {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(2, 13, 45, 0.953);
}

.acc_body {
    /* width: 100%; */
    /* margin: 6px auto; */
    padding: 10px 0 10px 50px;
    border-left: 1px solid #04233f27;
    border-right: 1px solid #04233f27;
    border-bottom: 1px solid #04233f27;
}

.acc_body .acc_list {
    font-size: 0.9rem;
    font-weight: 200;
    padding: 7px 0;
    display: flex;
    align-items: center;
}

.acc_body p {
    color: rgb(96, 96, 96);
    font-size: 1.3rem;
    font-weight: regular;
    /* margin: 40px 0 0 60px */
}

/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {

    .accordion_container {
        width: 100%;
        margin: 20px 0;
        padding-bottom: 10px;
        padding: 5px;
    }

    .acc_icon {
        font-size: 1.1rem;
    }

    .acc_head {
        gap: 10px;
    }

    .acc_head h4 {
        font-size: 1.1rem;
    }

    .acc_body .acc_list {
        font-size: 0.9rem;
        font-weight: normal;
        padding: 7px 0;
        display: flex;
        align-items: center;
    }


}