.carousel {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.carousel_images {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel__card {
  width: 90vw;
  height: 60vh;
  position: relative;
}

.image_container {
  width: 100;
  height: 100%;
}

.image_container img {
  height: 100%;
  width: 100%;
}

.carousel_box {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 400px;
  height: 150px;
  /* color: #ccc;
  background-color: #000; */
  background: #fff;
  box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.133);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;

  padding: 10px 20px;
}

.carousel_box h1 {
  /* font-family: var(--font-stack-heading-serif); */
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.25;
  letter-spacing: -.05rem;
  max-width: 36em;
  white-space: nowrap;
}

.carousel_box p {
  /* font-size: 1.2rem; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 80rem;
  font-size: 1.2rem;
  /* padding: 0 2.4rem; */
  margin-bottom: 0.8rem;

  white-space: nowrap;



}

/*   
  .carousel-images img {
    width: 100%;
    display: none;

  }
  
  .carousel-images img.active {
    display: block;
    padding: 20px 40px;
  } */

.carousel_controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.carousel_arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.carousel_dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  /* border: 2px solid gray; */
  margin: 0 5px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.dot.active {
  background-color: #000;
}

/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
  .carousel {
    z-index: -1;
    width: 100%;
  }
  .carousel__card {
    width: 100vw;
    height: 70vh;
    /* position: relative; */
  }
  

  .carousel_box {
    width: auto;
    right: 0;
    top: auto;
    bottom: 25px;
  }

  .carousel_box h1,
  .carousel_box p {
    white-space: wrap;
  }
}
/* Media query for tablets devices (For screens between 768px and 1024px ) */
@media (min-width: 768px) and (max-width: 1023px) {
  .carousel__card {
    width: 100vw;
    height: 50vh;
    /* position: relative; */
  }
  .carousel_box {
    width: auto;
    right: 0;
    top: auto;
    bottom: 25px;
  }

}

/* For screens larger than 1024px (e.g., desktops) */
@media screen and (min-width: 1024px) {
  
}
