.f_container{
    width: 80%;
    height: auto;
    margin: 150px auto;
}
.f_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.f_header h1{
    width: 90px;
    text-align: center;
    font-size: 2.5rem;
    font-family: serif;
    border-bottom: 7px solid #FFCC00;
}
.f_header p{
    font-size: 1rem;
    color: gray;
    text-align: center;
}

/* Accordion */
.f_acc_container{
    width: 70%;
    margin: 100px auto;
}
.f_accordion{
    display: flex;
    align-items: flex-sstart;
    /* justify-content: center; */
    gap: 50px;
    margin: 40px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
}
.f_acc_icon{
    font-size: 2rem;
    color: gray;
}
.f_acc_head{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    cursor: pointer;
}
.f_acc_head h4{
    font-size: 1.8rem;
    font-weight: normal;
    color: rgb(2, 13, 45);
}
.f_acc_body p{
    color: gray;
    font-size: 1.3rem;
    font-weight: regular;
    margin: 40px 0 0 60px
}


/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .f_container{
        width: 90%;
        margin: 100px auto;
    }
    /* Accordion */
.f_acc_container{
    width: 90%;
    margin: 10px auto;
}
.f_accordion{
    gap: 25px;
    margin: 20px 0;
    padding-bottom: 15px;
}
.f_acc_head h4{
    font-size: 1.2rem;
}
.f_acc_body p{
    color: gray;
    font-size: 1rem;
    margin: 10px 0 0 30px
}
}