.container {
    width: 80%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.home_content {
    width: 45%;
    height: auto;
}

.home_content h1 {
    /* font-size: 3rem; */
    font-size: 3rem;
    font-weight: bold;
    /* color: #060606; */
    color: #1F1E28;
    margin-bottom: 20px
}

.home_content p {
    font-size: 1rem;
    color: black;
    font-size: 1.2rem;
    color: #666;
    /* line-height: 1.5; */
}

.sd {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 4px solid #ffcc00db;
    /* padding: 0 10px 5px 10px; */
    color: #242538;
    font-style: bold;
    margin: 0 10px;
    /* padding: 0 10px; */
}

.home_content ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    font-size: 16px;
    color: #333;
}

.home_content ul li {
    margin-bottom: 10px;
}

.home_image {
    width: 50%;
    height: 60vh;
}

.programming_list_image {
    width: 100%;
    height: 100%;
}

.robot_image {
    /* position: absolute; */
    /* top: 0;
    right: 0;
    width: 100px;
    height: 100px; */
}


/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .container {
        width: 100%;
        height: fit-content;
        /* height: 60vh; */
        /* margin: 0; */
        /* display: flex;
        align-items: center;
        justify-content: space-between; */
        padding: 50px 0;
        flex-direction: column;
    }

    .home_content {
        width: 90%;
        /* height: auto; */
    }

    .home_content h1 {
        /* font-size: 3rem; */
        font-size: 2.3rem;
        margin-bottom: 10px
    }
    .home_image{
        display: none;
    }
  

}