.oc_container {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin: 150px 0;
}

.oc_header {
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.oc_view_all {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #04233f;
    background-color: #fff;
    border: 2px solid #04233f;
    border-radius: 3px;
    transition: 0.4s ease-in;
}

.oc_view_all:hover {
    background-color: #04233f;
    border: none;
}

.oc_section {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 50px;
}

.oc_section a {
    text-decoration: none;
}






/* Course Card */

.oc_card {
    width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5), 0 0 0 8px rgba(255, 255, 255, 0.3), 0 0 0 12px rgba(255, 255, 255, 0.2), 0 0 0 16px rgba(255, 255, 255, 0.1);

}

.oc_card:hover {
    transform: translateY(-0.5em);
    transition: .5s;
}

.oc_card a {
    text-decoration: none;
    color: #000;
}

.oc_card_h {
    height: 190px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

}
.oc_card_h::before,
.oc_card_h::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #f0f0f027;
}

/* Left bend design */
.oc_card_h::before {
  left: -50%;
  box-shadow: 30px 0 30px rgba(0, 0, 0, 0.1);
}

/* Right bend design */
.oc_card_h::after {
  right: -25%;
  box-shadow: -30px 0 30px rgba(0, 0, 0, 0.31);
}
.oc_card_h img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.521);

}

.oc_card_b {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    padding: 10px 10px;
}

.oc_card_b h4 {
    font-size: 1rem;
    font-weight: medium;
    color: #000;
}

.oc_card_b p {
    max-width: 350px;
    font-size: 0.9rem;
    text-align: start;

}


.oc_card_bprice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oc_card_bprice .oc_price {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(26, 4, 4);
}

.oc_card_bprice .oc_live {
    width: fit-content;
    color: #fff;
    background-color: red;
    padding: 2px 8px;
    border-radius: 2px;
    font-size: 0.8rem;
    font-weight: Light;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.oc_card_bprice .oc_live .live__symbol {
    width: 12px;
    height: 12px;
    background-color: red;
    border: 2px solid white;
    border-radius: 50%;
}

.oc_border_line {
    margin: 20px 0 5px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.145);

}

.oc_card_f {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin: 15px; */
    padding: 10px;
}

.oc_card_f h4 {
    /* height: auto; */
    font-size: 1rem;
    color: #000000e4;

}

.oc_card_f_icon {
    /* height: 15px; */
    font-size: 1.2rem;

}


/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .oc_section {
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
    .oc_card_b {
        
        gap: 5px;
        padding: 5px;
    
    
    }
    .oc_border_line {
        margin: 10px 0;
    }    
    .oc_card_f {
        display: flex;
        align-items: center;
        text-align: start;
        gap: 5px;
        margin: 8px;
        padding: 5px;

    }
}