.wu_container {
    width: 80%;
    height: 100vh;
    margin: 50px auto;

}

.wu_header {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
}

.wu_header span {
    color: #04233f;
    font-size: 3rem;
    font-weight: 600;
}

.wu_section {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start;
    justify-content: center;
    */
    gap: 50px;
    margin-top: 100px;
}

.wu_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 400px;
    flex: 1 0 300px;

    box-sizing: border-box;
    padding: 10px 10px;
    background-color: white;
    box-shadow: none;
    /* border: 1px solid #04233fb5; */
    border-radius: 5px;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 2px 3px 0 rgba(31, 38, 135, 0.19);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border: 1px solid rgba(45, 45, 45, 0.17);

}

.wu_card:hover {
    /* transform: translateX(-1em); */
    transform: translateY(-1em);
    transition: .5s;
    box-shadow: 5px 15px 15px rgba(128, 128, 128, 0.288);
}

.wu_icon_section {
    width: 100%;

}

.wu_icon {
    font-size: 2rem;
    color: rgb(0, 0, 43);
    text-align: end;
}

.wu_card h4 {
    /* width: 80%; */
    font-size: 1.5rem;
    font-weight: bold;
    font-family: serif;
    color: rgb(4, 2, 15);
    text-align: start;
}

.wu_card p {
    /* color: rgba(0, 0, 0, 0.819); */
    font-size: 1rem;
    font-weight: light;
    text-align: start;
    margin-bottom: 0;
}

/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .wu_container {
        width: 90%;
        height: auto;
        margin: 25px auto;
    }

    .wu_header {
        font-size: 1rem;
    }

    .wu_header span {
        font-size: 1.5rem;
    }
    
.wu_section {
    gap: 50px;
    margin-top: 50px;
}
}