.om_container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 100px 0;

}

.heading {
    text-align: center;
    font-size: 2rem;
}

.om_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 70px 0;
}

.omc_box {
    display: flex;
    width: 70%;
    gap: 30px;

}

.om_card {
    background-color: #f2f5f7a0;
    padding: 10px 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    box-shadow: 0 8px 28px 0 rgba(31, 38, 135, 0.19);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.om_count {
    background-color: #f2f5f7a0;
    box-shadow: 0 8px 28px 0 rgba(31, 38, 135, 0.19);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    padding: 10px 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform: skewX(-20deg);

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.om_count h1 {
    color: #04233f;
    font-size: 7rem;
}

.om_bg_image {
    position: absolute;
    z-index: -1;
    /* left: 0; */
    right: 0;
}


/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .om_container {
        width: 90%;
    }
    .om_details {
        gap: 25px;
        margin: 35px 0;
    }

    .omc_box {
        display: flex;
        align-items: flex-start;
        width: 100%;
        gap: 10px;

        background-color: #ffffff95;
        box-shadow: none;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 0px;
        border: none;

    }

    .om_count {
        box-shadow: none;
        background: none;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 0px;
        border: none;
        padding: 0;
        transform: skewX(0deg);
    }

    .om_count h1 {
        font-size: 2rem;
    }

    .om_card {
        box-shadow: none;
        background: none;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 0px;
        border: none;
        padding: 0;
        padding: 5px 0px;
    }

    .om_bg_image {
        width: auto;
        height: auto;
    }
}

/* Media query for tablets devices (For screens between 768px and 1024px ) */
@media (min-width: 768px) and (max-width: 1023px) {
    
    .om_container {
        width: 90%;
    }
    .om_details {
        gap: 25px;
        margin: 35px 0;
    }
    .omc_box {
        background-color: #ffffff95;
        width: 100%;
        gap: 10px;
    }

    .om_count {
        box-shadow: none;
        background: none;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        border-radius: 0px;
        border: none;
        padding: 0;
        transform: skewX(0deg);
    }
    .om_card {
        background: none;
    }
}