.sidebar_wrapper{
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
}
.sisdebar{
    width: 100%;
    border: 1px solid green;
}
.sidebar_list{
    width: 100%;

}

/* DropDown */
.leftBar_dropdown{
    padding: 7px;
    background-color: rgba(154, 139, 139, 0.091);
    border-bottom: 1px solid rgba(128, 128, 128, 0.162);
}
.leftBar_dropdown:hover {
    background-color: rgba(128, 128, 128, 0.164);
}
.dropdown_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
}
.dropdown_title h4{
    font-size: 1.3ren;
    font-weight: normal;
}
.active{
    color: #000000;
}

.leftBar_dropdown:has(.active) {
    background-color: rgba(128, 128, 128, 0.164);
}
.dropdown_title span{
    font-size: 1.4rem;
    font-weight: bold;
}
.dropdown_title:hover span{
    transform: rotate(180deg);
    transition: 0.2s ease-in-out;
}
.leftBar_dropdown ul{
    padding: 20px 0 20px 40px;
    list-style: none;
}
.leftBar_dropdown ul li{
    padding: 10px 0;
}
.leftBar_dropdown ul li a{
    color: #000000b5 ;
    width: 100%
}
.currentPage a{
    color: #FFCC00 !important;
    font-size: 1.1rem;
    text-transform: uppercase;
}


