.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cn__card {
    padding: 50px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 28px 0 rgba(31, 38, 135, 0.19);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.banner__left {
    width: 50%;

}

.banner__left>* {
    margin: 15px 0;
}

.banner__left h1 {
    font-size: 2.4rem;
    font-weight: 500;
}

.banner__left .banner_cn {
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 3px solid #04233f;
}

.banner__right {
    width: 40%;
}

.banner__right img {
    width: 100%;
    height: 400px;
    background-color: transparent;
}


/* Form */
.cnform {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cnform__header{
    text-align: center;
    width: 50%;
    margin: 30px;
}
.cnform__header h2{
    color: #04233f;
}
.cnform__header p{
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}

.cnform__container {
    width: 80%;
    height: auto;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
}

.form__left {
    /* width: 50%; */
    width: fit-content;
    /* padding: 50px 60px; */
}

.courseRegister__form {}

.courseRegister__form__header h3 {
    color: #04233f;
    display: flex;

}

.courseRegister__form__header p {
    color: gray;
}

.courseRegister__form__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.form__group {}

/* .form__group {

    width: inherit;
    display: flex;
    align-items: center;
    gap: 20px;
}

.form__group {
    width: 100%;

} */

.courseRegister__form__body label {
    width: 100%;
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #333333e6;

    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 16px;
    /* Adjust the font size as needed */
    color: #333;
}

.courseRegister__form__body input {
    width: 280px;
    height: 35px;
    /* padding: 10px 0 10px 10px; */
    font-size: 14px;
    /* Adjust the font size as needed */
    border: 1px solid #ccc;
    border-radius: 4px;

}

.courseRegister__form__body textarea {
    width: 100%;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    outline: none;

}

.courseRegister__form__body input[type="text"] {
    /* padding: 0 0 0 10px; */
}

.courseRegister__form__body input[type="tel"] {
    width: 240px;
    /* padding: 0 0 0 10px; */
}

.phoneInput {
    width: 305px;
    display: block;
}


.phoneNumber {
    font-size: 1rem;
}

.phoneNumber:outline {
    border: none;
}


.submit__btn {
    width: 280px;
    height: 40px;

    padding: 10px 30px;
    background: #04233f;
    border: 1px solid #333445;
    border-radius: 4px;

    font-style: normal;
    font-weight: regular;
    font-size: 1.2rem;
    line-height: 29px;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    width: auto;
    white-space: nowrap;
}

.submit__btn:hover {

    /* background-color: rgb(3, 4, 26);
    border: 1px solid #333445;
    transition: .5s;

    color: gray;
    border: 1px solid rgba(128, 128, 128, 0.17);
    transition: 0.4s;

    box-shadow: 0 2px 12px 0 rgba(31, 38, 135, 0.126);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px); */
}





/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {

    .banner,
    .cnform {
        height: auto;
    }

    /* Form */
    .cnform {
        margin: 50px 0;
    }
    .cnform__header{
        width: 80%;
    }
    .cnform__container {
        width: 90%;
        margin: 40px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .form__left {
        /* margin-bottom: 50px; */
        /* padding: 0px 50px; */
    }

    .form__left form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submit_btn {
        width: inherit;
        height: 40px;
    }

    .form__right {
        width: 100%;
    }

    .cn__card {
        padding: 25px 20px;
        box-shadow: 0 8px 18px 0 rgba(31, 38, 135, 0.19);
        border-radius: 0px;
    }

    .form_group {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .submit_btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit_btn button {
        width: 280px;
        font-size: 16px;
    }
}

/* Media query for tablets devices (For screens between 768px and 1024px ) */
@media (min-width: 768px) and (max-width: 1023px) {

    /* Form */
    .cnform {
        margin: 100px 0;
        height: auto;
    }

    .cnform__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }


}