.banner,
.cnform {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container {
    border: 2px solid green;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* .cn__card {
    padding: 50px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 28px 0 rgba(31, 38, 135, 0.19);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
} */

.banner__left {
    width: 50%;

}

.banner__left>* {
    margin: 15px 0;
}

.banner__left h1 {
    font-size: 2.4rem;
    font-weight: 500;
}

.banner__left .banner_cn {
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 3px solid #04233f;
}

.banner__right {
    width: 40%;
}

.banner__right img {
    width: 100%;
    height: 400px;
    background-color: transparent;
}


/* Form */
.cnform {
    margin: 100px 0;
}

.cnform__container {
    width: 80%;
    height: auto;
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form__left {
    /* width: 40%; */
    padding: 50px 60px;
}

.form__left form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__left form div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form__left form div p {
    width: 280px;
    /* max-width: 250px;
    white-space: nowrap; */
}

.form__left form textarea {
    height: 100px;
    width: 280px;
    /* 
    border: 2px solid #04233f;
    padding: 10px;
    font-size: 1.1rem;
    resize: none;
    border-radius: 4px; */
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.cn_tinput {
    width: 280px;
    height: 25px;
    /* padding: 8px 10px;
    font-size: 1rem;
  
    border: 2px solid #04233f;
    border-radius: 2px; */
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;

    /* width: 100%;
    border: none;
    border-bottom: 2px solid #04233f;
    padding: 10px 0;
    font-size: 1.1rem;
    border-radius: 4px;
    padding-left: 10px; */
}

/* Style for when the input is focused */
.form__left form input:focus,
.form__right form input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Style for placeholder text */
.form__left form input::placeholder {
    color: #aaa;
}

/* Style for disabled input */
.form__left form input:disabled {
    background-color: #f2f2f2;
    color: #888;
}

.phoneNumber {
    /* width: 400px; */
    width: 100%;
    /* height: 3px; */
    font-size: 1rem;
}

.phoneNumber:outline {
    border: none;
}

.submit_btn {
    width: 280px;
    height: 40px;

    padding: 10px 30px;
    background: #04233f;
    border: 1px solid #333445;
    border-radius: 4px;

    font-style: normal;
    font-weight: regular;
    font-size: 1.2rem;
    line-height: 29px;

    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;

    width: auto;
    white-space: nowrap;
}

.submit_btn:hover {

    background-color: rgb(24, 25, 52);
    border: 1px solid #333445;
    transition: .5s;

    color: gray;
    border: 1px solid rgba(128, 128, 128, 0.17);
    transition: 0.4s;

    box-shadow: 0 2px 12px 0 rgba(31, 38, 135, 0.126);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

/* .form__right {
    width: 30%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact_details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */


/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {

    .banner,
    .cnform {
        height: auto;
    }

    /* Form */
.cnform {
    margin: 50px 0;
}

    .cnform__container {
        width: 90%;
        margin: 40px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    
    .form__left {
        /* width: 100%; */
        margin-bottom: 50px;
        padding: 0px 0px;
    }

    .form__left form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cn_tinput {
        /* width: 100%; */
    }

    .submit_btn {
        width: inherit;
        height: 40px;
    }

    .form__right {
        width: 100%;
    }

    /* .cn__card {
        padding: 25px 20px;
        box-shadow: 0 8px 18px 0 rgba(31, 38, 135, 0.19);
        border-radius: 0px;
    } */
}