/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.logo {
    font-size: 1.5rem;
}

.menu {
    display: flex;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu {
      display: flex;
      flex-direction: column;
      height: 100vh; /* Set the menu height to full viewport height */
      width: 100%;
      background-color: #333;
      padding: 1rem;
      position: fixed; /* Fix the menu to the top of the viewport */
      top: 0;
      left: 0;
      transform: translateY(-100%); /* Move the menu off-screen initially */
      transition: transform 0.3s ease; /* Add a smooth transition */
    }
  
    .menu.open {
      transform: translateY(0); /* Move the menu into view */
    }
  
    .menu a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 1rem;
    }
  
    .hamburger {
      cursor: pointer;
    }
  
    .icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      cursor: pointer;
      position: relative;
    }
  
    .icon span {
      display: block;
      height: 3px;
      width: 100%;
      position: absolute;
      background-color: #fff;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0);
      transition: all 0.3s ease;
    }
  
    .icon span:nth-child(1) {
      top: 0px;
    }
  
    .icon span:nth-child(2) {
      top: 10px;
    }
  
    .icon span:nth-child(3) {
      top: 20px;
    }
  
    .icon.open span:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }
  
    .icon.open span:nth-child(2) {
      opacity: 0;
    }
  
    .icon.open span:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg);
    }
  }
  