.rm_container {
    width: 80%;
    height: auto;
    margin: 100px auto;
}

.rm_courses_container {
    margin: 100px auto;
}

.rm_courses_container h3 {
    width: fit-content;
    text-align: center;
    margin: 50px 0;
    color: #fff;
    font-size: 2rem;
    border-bottom: 2px solid #fc0;
}

.rm_course {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.rm_course button {
    width: 250px;
    padding: 10px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #001f3f;
    border: 2px solid white;
    border-radius: 3px;
}
.rm_course button:hover{
    color: #001f3f;
    background-color: #fff;
    border: 2px solid #001f3f;
    transition: .4s;

}