.allc_container{
    width: 100%;
}
.allc_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 60px auto;
}
.allc_head input[type=search]{
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #04233f;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
/* .allc_head input[type=search]:focus{
    outline: none;
} */
.allc_search_icon{
    width: 50px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #04233f;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* border: 1px solid gray; */
    /* background-color: #FFCC00; */
    /* border: 1px solid #FFCC00; */
}
.allc_body{
    width: 80%;
    margin: 100px auto;
    /* display: flex;
    flex-wrap: wrap;    */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.notFound {
    height: 80vh;
}