.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.bn__card {
    padding: 50px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 28px 0 rgba(31, 38, 135, 0.19);
    backdrop-filter: blur(0.5px);
    -webkit-backdrop-filter: blur(0.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.banner__left {
    width: auto;
}

.banner__left>* {
    margin: 15px 0;
}

.banner__left h1 {
    color: #091520;
    white-space: nowrap;

}

.banner__left p {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 12px;
}

.banner__left b {
    font-size: 1.3rem;
    white-space: nowrap;
    color: #0f1923;
}

.banner__left .banner_bn {
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 3px solid #0f1923;
}

.banner__right {
    min-width: 40%;
    max-width: 40%;
}

.banner__right img {
    width: 100%;
    height: 400px;
    background-color: transparent;
}


/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .banner {
        height: auto;
        z-index: 1;
    }

    .banner__container {
        width: 90%;
        flex-direction: column;
    }
    

    .bn__card {
        padding: 25px 20px;
        border-radius: 5px;
        margin: 20px 0;
    }

    .banner__left h1 {
        font-size: 1.5rem;
        white-space: wrap;
    }

    .banner__left p {
        font-size: 15px;
        /* margin-bottom: 12px; */
    }

    .banner__left b {
        font-size: 1rem;
        white-space: wrap;
    }
    .banner__right {
        min-width: 100%;
        max-width: 100%;
    }
    
    .banner__right img {
        height: 200px;
        background-color: transparent;
    }
    

}