.allc_container {
    width: 100%;
    /* margin-top: 70px; */
    padding: 50px 0;
    background-color: #f2f5f7;
}

.allc_head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0px auto;
}

.allc_head input[type=search] {
    width: 500px;
    height: 40px;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #04233f;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

/* .allc_head input[type=search]:focus{
    outline: none;
} */
.allc_search_icon {
    width: 50px;
    height: 40px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #04233f;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

}

.allc_courses_container {
    width: 80%;
    margin: 80px auto;
    display: flex;
    gap: 50px;
}

.allc_body {
    width: 75%;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.notFound {
    height: 80vh;
}

.similar_container {
    margin: 50px 0;
}

/* Media query for small devices (up to 768px wide) */
@media (max-width: 768px) {
    .allc_head {
        width: 90%;
        /* margin: 10px auto; */
    }

    .allc_search_icon {
        font-size: 1rem;
    }

    .allc_body {
        width: 90%;
        margin: 50px auto;
        grid-template-columns: auto;
    }

    .similar_container {
        margin: 25px 0;
    }
}

/* Media query for tablets devices (For screens between 768px and 1024px ) */
@media (min-width: 768px) and (max-width: 1023px) {
    .allc_body {
        grid-template-columns: auto;
    }
}