/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,600;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,600;1,900&family=DM+Sans:wght@400;500;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid rgba(0, 255, 174, 0.63) !important; */
}

body {
    /* font-family: 'Barlow', sans-serif; */
    font-family: 'Barlow', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /* color: #333333; */
}
.container{
  margin-top: 70px;
}
a {
    text-decoration: none;
}


input:focus {
    outline: none;
}

/* Headings */
h1 {
    font-size: 32px;
    /* color: #333333; */
    color: #042541;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 28px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 18px;
  }
  
  h3 {
    font-size: 24px;
    color: #555555;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  h4 {
    font-size: 20px;
    color: #666666;
    font-weight: bold;
    margin-bottom: 14px;
  }
  
  h5 {
    font-size: 18px;
    color: #777777;
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  h6 {
    font-size: 16px;
    color: #888888;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Paragraphs */
  p {
    font-size: 16px;
    color: #333333;
    line-height: 1.5;
    margin-bottom: 12px;
  }
  
 
  button{
    border: none;
    background-color: none;
    outline: none;
}