.cf_container{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #FBB461; */
}
.btn_group{
    margin: 50px 0;
}
/* .btn_group button{
    padding: 10px 20px;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0 10px;
} */


.btn_group button {
    width: auto;
    height: 40px;
    padding: 10px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #0f1923;
    border: 2px solid gray;
    border-radius: 3px;
}

.btn_group button:hover {
    color: #0f1923;
    background-color: #fff;
    border: 2px solid #04233f;
    transition: 0.4s ease-in;
}

.btn_group .active_btn {
    color: #04233f;
    background-color: #fff;
    border: 2px solid #04233f;
    transition: 0.4s ease-in;
}
.plans_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    height: auto;
}


/* Fee Card */
.cf_card{
    width: 30%;
    color: #fff;
    /* background-color: #1F1E35; */
    background-image: linear-gradient(to bottom,  #05040c, transparent);
    padding: 20px 30px;
    border: 2px solid gray;
    border-radius: 5px;
}
.cf_card:hover{
    /* border-color: #FC0; */
    /* background-color: #2D3846; */
    /* color: #; */
    background-color: #1F1E28;
    translateY: -10px;
    transition: .3s ease-in-out;
}
.cf_card ul{
    list-style: none;
    padding: 0 20px;
    color: #fff;
}
.cf_card .cf_Card_header{
    color: #F5F5DC;
    text-align: center;
    border-bottom: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 2px 3px 1px rgb(19, 22, 30);
}
.cf_card h4{
    color: #c0c0c0;   
    margin: 30px 0 10px 0;
}
.cf_features{
    color: #fff;
    margin: 10px 0;
}

.cf_feature li{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.cf_feature p{
    margin: 0;
    color: #FFFFE0;
}
.cf_lo{
    
}
.cf_lo ul{
    list-style-type: square;
}